<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div id="username-container">
        <input type="text" id="username-input" placeholder="Enter your username">
        <button onclick="setUsername()">Set Username</button>
    </div>
    <div id="chat-container"></div>
    <div id="input-container">
        <input type="text" id="chat-input" placeholder="Type your message here..." disabled>
        <button onclick="sendMessage()" disabled>Send</button>
    </div>
</body>
</html>
